name: Build Documentation

on:
  push:
    branches:
      - dev-v4
    paths-ignore: 
      - 'docs/**'
#      - '.github/**'
  pull_request:

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PUSH_TOKEN }}
          
      # Move static files locally
      - name: Prepare docs folder
        run: |
          mkdir -p docs
          mv Docs.IndexGenerator/Output/* docs/

      # Pull current v3 docs from master branch
      - name: Checkout master docs
        uses: actions/checkout@v4
        with:
          ref: master
          path: master_docs

      # Copy v3 docs to /docs/v2
      - name: Add legacy v2 documentation
        run: |
          mkdir -p docs/v3
          cp -r master_docs/docs/* docs/v3/

      # Upload docs artifact
      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PUSH_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages
